<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include includes/header -%>
    <title>Escualapp: asignacion y control de cursos</title>
    <link rel="stylesheet" href="stylesheets/sty_Main.css">
    <link href='fullcalendar/core/main.css' rel='stylesheet' />
    <link href='fullcalendar/daygrid/main.css' rel='stylesheet' />

    <script src='fullcalendar/core/main.js'></script>
    <script src='fullcalendar/daygrid/main.js'></script>
  </head>
  <body >
      <%- include includes/navbar -%>

      <div class="container ">
        <div class="row ">
          <div class="col-md-12">
            <div class="jumbotron jumbotron-fluid">
              <div class="container">
                <h1 class="display-4">Bienvenido! <%=user%></h1>
                <p class="lead">Administra y actualiza las notas de tus alumnos, de forma sencilla.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">    
          <div class="col-md-8">
            <div class="grid-container">

                <!--ADMINISTRADORES-->
                <% if (lvl == 0) {%>
                    <div class="card text-white bg-primary" onclick="location.href='/personal'">
                      <div class="card-body">
                        <h5 class="card-title">Personal</h5>
                        <p class="card-text">Visualiza todos los grados asignados</p>
                      </div>
                    </div>  
                  
                    <div class="card text-white bg-success" onclick="location.href='/alumnos'">
                      <div class="card-body">
                        <h5 class="card-title">Alumnos</h5>
                        <p class="card-text">Visualizacion de alumnos.</p>
                      </div>
                    </div>

                    <div class="card text-white bg-warning" onclick="location.href='/inscripciones'">
                      <div class="card-body">
                        <h5 class="card-title">Inscripciones</h5>
                        <p class="card-text">Inscripcion de alumnos y asignacion de seccion</p>
                      </div>
                    </div>

                    <div class="card text-white bg-danger" onclick="javascript: href='main/ingresonotas'">
                      <div class="card-body">
                        <h5 class="card-title">Ingreso de notas</h5>
                        <p class="card-text">Ingresa notas por grado o por alumnos</p>
                      </div>
                    </div>

                    <div class="card text-white bg-secondary" onclick="location.href='/asistencia'">
                      <div class="card-body">
                        <h5 class="card-title">Asistencia</h5>
                        <p class="card-text">Ingresa asistencia por alumnos</p>
                      </div>
                    </div>
                <% } %>

                <!--INGRESA NOTAS-->
                <% if (lvl == 1) {%> 
                    <div class="card text-white bg-danger" onclick="location.href='/asistencia'">
                      <div class="card-body">
                        <h5 class="card-title">Ingreso de notas</h5>
                        <p class="card-text">Ingresa notas por grado o por alumnos</p>
                      </div>
                    </div>                 
                <% } %>

                <!--INSUMOS-->
                <% if (lvl == 2) {%>                  
                <% } %>

              </div>
            </div>
            <div class="col-md-4 calendario" >
              <div id='calendar'></div>
            </div>
        </div>
      </div>

      
    <%- include includes/footer -%>
    <%- include includes/scripts -%>
    <script>

        document.addEventListener('DOMContentLoaded', function() {
          var calendarEl = document.getElementById('calendar');
  
          var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: [ 'dayGrid' ]
          });
  
          calendar.render();
        });
  
      </script>
    <script src="/javascripts/src_main.js"></script>
  </body>
</html>
